<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="app.labs.linksy.DAO.CommentRepository">
    <resultMap id="feedResultMap" type="Feed">
        <id property="feedId" column="FEED_ID"/>
        <result property="userId" column="USER_ID"/>
        <result property="feedContent" column="FEED_CONTENT"/>
        <result property="feedTime" column="FEED_TIME"/>
        <result property="likeAmount" column="LIKE_AMOUNT"/>
        <collection property="feedImages" ofType="FeedImage">
            <result property="imgName" column="feedImageName"/>
        </collection>
    </resultMap>


    <!-- 특정 피드의 댓글 가져오기
    <select id="getCommentsByFeedId" resultMap="commentResultMap">
        SELECT
            c.comment_id AS commentId,
            c.user_id AS userId,
            c.feed_id AS feedId,
            c.comment_content AS commentContent,
            c.parent_id AS parentId,
            c.comment_time AS commentTime,
            m.user_nickname AS userNickname
        FROM COMMENTS c
        JOIN MEMBER m ON c.user_id = m.user_id
        WHERE c.feed_id = #{feedId}
        ORDER BY c.parent_id ASC NULLS FIRST, c.comment_time ASC
    </select> -->

    <select id="getCommentsByFeedIds" resultType="app.labs.linksy.Model.Comment">
        SELECT *
        FROM COMMENTS
        WHERE FEED_ID IN
        <foreach collection="feedIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>


</mapper>