<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="app.labs.linksy.DAO.ProfileSettingRepository">
    
    <!-- 프로필 이미지 업데이트 -->
    <update id="updateProfileImage">
        UPDATE MEMBER 
        SET USER_IMG = #{userImg}
        WHERE USER_ID = #{userId}
    </update>
    
    <!-- 소개글 업데이트 -->
    <update id="updateUserIntroduce">
        UPDATE MEMBER 
        SET USER_INTRODUCE = #{userIntroduce}
        WHERE USER_ID = #{userId}
    </update>
    
    <!-- 닉네임 업데이트 -->
    <update id="updateNickname">
        UPDATE MEMBER 
        SET USER_NICKNAME = #{userNickname}
        WHERE USER_ID = #{userId}
    </update>
    
    <!-- 비밀번호 업데이트 -->
    <update id="updatePassword">
        UPDATE MEMBER 
        SET USER_PWD = #{newPassword}
        WHERE USER_ID = #{userId} 
        AND USER_PWD = #{currentPassword}
    </update>
    
    <!-- 사용자 정보 조회 -->
    <select id="getMemberProfile" resultType="app.labs.linksy.Model.Member">
        SELECT 
            USER_ID as userId,
            USER_NAME as userName,
            USER_NICKNAME as userNickname,
            USER_EMAIL as userEmail,
            USER_IMG as userImg,
            USER_INTRODUCE as userIntroduce
        FROM MEMBER
        WHERE USER_ID = #{userId}
    </select>
    
</mapper>
