@charset "UTF-8";
@font-face {
    font-family: 'SBAggroB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
	display: inline-flex;
	margin: 0px;
	padding: 0px;
	border: 0px;
	min-height: 100vh;
}
.menubar_header{
	height: 30px;
}
.menu_bar{
	position: fixed;
	left: 0px;
	top: 0px;
	bottom: 0px;
	height:100%;
	display: block;
	width: 300px;
	border-right: solid thin #d9d9d9;
	overflow: hidden;
}
.menu_bar::-webkit-scrollbar {
  display: none;
}
.logo_img {
	height: 150px;
	width: 100%;
	align-content: space-between;
}
.logo_img img{
	height: 100%;
	width: 100%;
}
/*.margin_logo2menu{
	height: 20%;
}*/
.menu_content_container{
	display: flex;
	align-content: center;
	margin-left: 40px;
	margin-bottom: 10px;
	border-left: 20px;
}
.menu_content_container a {
	 color: inherit;
}
.menu_icon_img{
	float: left;
	height: 50px;
	width: 50px;
}
.menu_icon_img i{
	font-size: 4vmin;
}

.menu_content{
	float: left;
	text-align: center;
	margin-top: 12px;
	margin-left: 7px;
	
	font-family: 'SBAggroB';
	src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-size: x-large;
}

/*.menu_bottom_margin {
	height: 10%;
}*/