@charset "UTF-8";

html, body {
	margin:0; padding:0;
}
.page {
	position:relative;
	overflow: hidden;
}
.right-bar {
	margin-left:300px; 
	padding-top:150px;
	text-align: center;
}
.header {
	position:fixed; 
	left:300px; 
	top:0px; 
	right:0px; 
	height:150px; 
	border:2px solid blue; 
	background:#eeeeee;
}
.content { 
	position: fixed;
	left: 300px;
	right: 0px;
	bottom: 0px;
	top: 150px;
	height: auto;
	border:2px solid red;
}