<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/loginpage.css">
</head>
<body>
    <div class="container">
        <div class="phone-section">
            <img src="/images/logo/blacklogo.png" alt="Phone Image" class="phone-image">
        </div>
        <div class="vertical-line"></div>
        <div class="login-section">
            <div class="logo">
                <img src="/images/logo/blacklogo.png" alt="Linksy Logo" class="logo">
            </div>
            <div class="login-form">
                <form id="loginForm" action="/login" method="post">
                    <input type="text" name="userId" placeholder="아이디" required>
                    <input type="password" name="password" placeholder="비밀번호" required>
                    <button type="submit">로그인</button>
                    <div id="errorMessage" class="error-message" style="color: red;">
                        <span th:if="${param.error == 'invalid'}">아이디 또는 비밀번호가 올바르지 않습니다.</span>
                        <span th:if="${param.error == 'system'}">시스템 오류가 발생했습니다.</span>
                    </div>
                </form>
                <p>계정이 없으신가요? <a href="/newuser">가입하기</a></p>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer-content">
            <p><a href="/teaminfo">team info</a></p>
            <p>Copyright 2024 Linksy. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
